.services-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100vw;
    background-color: #000;
}

.services-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100vw;
    background-color: #000;
    overflow: hidden;
}

.services-title {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    background-color: #000;;
}

.services-title::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 90vh;
    width: 90vw;
    background: url(https://resmim.net/cdn/2023/11/04/Zf3gxR.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    mix-blend-mode: luminosity;
}

.services-title h1 {
    color: #fff;
    font-family: "neue", sans-serif;
    font-size: 12rem;
    text-align: center;
    z-index: 1;
    background-color: black;
    padding: 1rem;
    text-decoration: underline 1rem #fff;
    mix-blend-mode: multiply;
}

.space {
    width: 100vw;
    height: 100px;
    background-color: #000;
}

.service-img {
    position: absolute;
    top: 120%;
    left: 30%;
    width: 120rem;
    height: 85rem;
    object-fit: cover;
    transform: rotate(330deg);
    mix-blend-mode: luminosity;
    overflow: hidden;
}

.man-services {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    width: 50vw;
    height: fit-content;
    gap: 8rem;
    transform: translateX(25rem);
}

.man-services ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.man-item {
    border-bottom: 1px solid #fff;
}

.man-services h1 {
    font-family: "neue", sans-serif;
    font-size: 5rem;
    color: #fff;
    text-align: left;
}

.man-services h1.title-active {
    animation: title 1s ease-in-out forwards;
}

.woman-services h1 {
    font-family: "neue", sans-serif;
    font-size: 5rem;
    color: #fff;
    text-align: right;
}

.man-item h2, .woman-item h2 {
    font-family: "neue", sans-serif;
    font-size: 4rem;
    color: #fff;
    text-align: left;
}

.woman-services {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    width: 50vw;
    height: fit-content;
    gap: 3rem;
    transform: translateX(-25rem);
    padding-bottom: 8rem;
}

.woman-services ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.woman-item {
    border-bottom: 1px solid #fff;
}


/*media queries*/

@media screen and (max-width: 1540px) {
    html {
        font-size: 8px;
    }

    .service-img {
        width: 100rem;
        height: 80rem;
        left: 40%;
    }
}

@media screen and (max-width: 1440px) {
    .service-img {
        width: 80rem;
        height: 60rem;
        left: 40%;
    }
}

@media screen and (max-width: 1024px) {
    html {
        font-size: 7.5px;
    }

    .service-img {
        width: 60rem;
        height: 50rem;
        top: 130%;
        left: 50%;
    }
}

@media screen and (max-width: 768px) {
    html {
        font-size: 7px;
    }

    .service-img {
        display: none;
    }

    .services-title h1 {
        font-size: 10rem;
    }

    .man-services{
        transform: translateX(5rem);
    }

    .woman-services{
        transform: translate(-8rem, 5rem);
    }
}

@media screen and (max-width: 425px) {
    html {
        font-size: 6.5px;
    }

    .service-img {
        display: none;
    }

    .services-title h1 {
        font-size: 7rem;
    }

    .man-services{
        transform: translateX(5rem);
    }

    .woman-services{
        transform: translate(-8rem, 5rem);
    }
}

@media screen and (max-width: 320px) {
    html {
        font-size: 6px;
    }

    .service-img {
        display: none;
    }

    .services-title h1 {
        font-size: 6rem;
    }

    .man-services{
        transform: translateX(5rem);
    }

    .woman-services{
        transform: translate(-8rem, 5rem);
    }
}